header{
    font-size: 80px;
    font-family: "Cambria Math";
    text-align: center;
}
td{
    height: 30px;
    width: 40px;
}
body{
    font-family: "Cambria Math";
    text-align: center;
    background-image: linear-gradient(-90deg, turquoise, cornflowerblue);
}
.toparea{
    position: relative;
    width: auto;
    padding: 20px;
    margin: 20px;
    background-image: url("https://cloudinary.hbscdn.org/image/upload/s--jBqgukLU--/q_auto,c_fill,h_1296,w_2800,/v20071006/9A584B953CA7A5D8F6738BE550C5FC26.jpg");
    background-size: 1000px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
}

.bottomarea{
    padding: 20px;
    margin: 20px;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    font-size: 18px;
}

img {
    width: 40%;
    height: auto;
    opacity: 0.3;
}

.oneinput{
    width: 38%;
    height: 80px;
    text-align: center;

}
#addImput{
    width: 500px;
    height: 100px;
}
footer {
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Cambria Math";
}
form{
    text-align: center;
}

textarea{
    text-align: justify;
    width: 500px;
    height: 100px;
    resize: none;
    padding: 20px;
}

.button{
    padding: 4px;
    width: 150px;
    height: 30px;
    margin: 4px;
}

