<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Joke Generator</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<header>
    Joke Generator Project
</header>
<br>
<br>
<body>
<div class="toparea">
    <img src="https://cloudinary.hbscdn.org/image/upload/s--jBqgukLU--/q_auto,c_fill,h_1296,w_2800,/v20071006/9A584B953CA7A5D8F6738BE550C5FC26.jpg" alt="Joke Pic" for="" id="" width="1000" height="300">
    <div class="center" id="joketext" for="">
        <p th:text=${joke}></p>
    </div>
    <br>
    <br>
    <button type="button">New random joke!</button> </div>
<br>
<br>
<h2>Don't like our jokes? Enter your own.</h2>
<br>
<div class="bottomarea">
    <form action="">
    <textarea id="newjoke" rows="20" cols="50">
    Type your joke here
    </textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>

<footer>
    <div>
        Made by Dagmara Przgocka, Basia Rekowska, Maja Miskeri and David Hards.
    </div>
</footer>

</html>