<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Joke Generator</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<header>
    Joke Generator Project
</header>
<br>
<br>
<body>
<div class="toparea">
        <form action="/updateJoke" method="post">
            <input type="hidden" name="joke_id" th:value="${joke.joke_id}">
            <textarea rows="5" cols="80" th:field="${joke.joke_text}">
            </textarea></br>
            <input class="button" type="submit" value="Update Joke!">
        </form>

    <a th:href="@{'/generateNewJoke'}">
    <button type="button" class="button">New random joke!</button>
    </a></br>

    <a th:href="@{'/deleteJoke/'+${joke.joke_id}}">
        <button type="button" class="button">Delete joke!</button>
    </a>
    <p th:text="${response} "></p>
</div>
<br>
<br>
<h2>Don't like our jokes? Enter your own.</h2>
<div class="bottomarea">
    <form  th:action="@{'/addNewJoke'}" method="post" th:object="${joke}">
        <input id="addImput" type="text" name="joke_text"></br>
        <input class="button" type="submit" value="Submit">
    </form>
</div>
</body>

<footer>
    <div>
        Made by Dagmara Przygocka, Basia Rekowska, Maja Miskeri and David Hards.
    </div>
</footer>

</html>